[Unit]
Conflicts=gphoto2-auto-import@.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/blinkt-disk-usage.py

[Install]
WantedBy=multi-user.target
