ACTION=="add", SUBSYSTEM=="usb", ENV{ID_USB_INTERFACES}=="*:060101:*", ENV{ID_GPHOTO2}=="1", TAG+="systemd", ENV{SYSTEMD_WANTS}="camera-import@%E{ID_SERIAL}.service"
