[Unit]
BindsTo=%i.device
After=%i.device

[Service]
Type=simple
User=pi
ExecStartPre=+/bin/sh -c '/bin/sync; /bin/mount -o remount,rw /'
ExecStart=/usr/local/bin/camera-import-ptp
ExecStopPost=+/bin/sh -c '/bin/sync; /bin/mount -o remount,ro /'
ExecStopPost=/usr/local/bin/blinkt-disk-usage
WorkingDirectory=/home/pi/Pictures
